*{
margin:0;
padding: 0;

}

:root{
    background-color: aliceblue;
    }
    
main{

padding: 2em;

}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
width:90%;
align-items: center;
border: double rebeccapurple;
& h1{
    font-size: 150%;
    color: rebeccapurple;
}
}


footer{

border-top: rebeccapurple;
& p{
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}
}

h1,h2,h3,p,blockquote,ul,li{
    padding: 2em;
}


h2{
font-size: 125%;
}

h3{
    font-size:115% ;
}

cite{
    color: rebeccapurple;
    font-style: normal;
    font-weight: bold;
}
img{
    float:left;
    padding:2em;
}