*{
margin:0;
padding: 0;

}

:root{
 
    --background-color: aliceblue;
    --border-color: rebeccapurple;
    --cite-color:rebeccapurple;
    }

    html{
        background-color:var(--background-color);
    }
    
main{

padding: 4em;

}

body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
width:90%;
align-items: center;
background-color: white;
margin:15px auto;
padding: 15px auto;
border: double var(--border-color);

& h1{
    font-size: 150%;
    color: rebeccapurple;
}
}


footer{

border-top: solid var(--border-color);
& p{
    font-size: 90%;
    text-align: center;
    font-weight: bold;
}
}

h1,h2,h3,p,blockquote,ul,li{
    padding: 4em;
}


h2{
font-size: 125%;
}

h3{
    font-size:115% ;
}

cite{
    color: var(--cite-color);
    font-style: normal;
    font-weight: bold;
}
img{
    float:left;
    padding:2em;
}